#gameContainer{
    text-align: center;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin-inline: auto;
}

.cell{
    border: 1px solid;
    width: 75px;
    height: 75px;
    font-size: 40px;
   line-height: 75px;
}