.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{margin: auto;
    width: 30%;
    height: 250px;
    display: none;
    animation:fade 1.5s ;
}
img.displaySlide{
    display: block;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px 15px;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade{
    from{opacity: .5}
    to{opacity: 1}
}