*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: aliceblue; 
}
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
padding: 50px;
background-color: black;
color: white;
}
.text{
    font:bold 20px  cursive ;
}
button{
    padding: 10px 40px;
border: none;
font-size: 18px;
border-radius: 5px;
margin-top: 20px;
cursor: pointer;
}
