.div{
    font-size: 24px;
    color: green;
    font-weight: 700;
}

.content{
    font-size: 26px;
    color: rgb(48, 23, 72);
    text-shadow: 2px 2px 2px gainsboro;
    font-weight: 600;
}
.color{
    width: 25%;
    height: 40px;
    background-color: brown;
}

#btn-color,#add{
    padding: 14px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: rgb(36, 36, 99);
    color: whitesmoke;
}



#listColor li{
    list-style-type: none;
    font-size: 22px;
    margin: 10px 0;
    width: 56%;
    text-align: center;
    padding: 6px 0;
    /* background-color: rgba(201, 72, 72, 0.781); */
    box-shadow: 2px 2px 2px 1px rgb(194, 194, 194);
}
.highlight{
    /* background-color: aqua; */
    background: linear-gradient(45deg, rgb(101, 239, 239), rgb(2, 203, 2));
}

#add{
background-color: rgb(5, 135, 171);
}
.todo{
    width: 50%;
}
.todo ul li{
  background-color: blue;
color: white;
font-size: 20px;
margin: 4px 0;
padding: 6px 0;
width: 25%;
list-style: none;
}