body{
    background-color: rgb(205, 205, 205);
}

form{
    width: 40%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:30px auto;
    padding: 30px;
    background: linear-gradient(180deg, rgb(34, 237, 255), rgb(255, 114, 82));
    box-shadow: 1px 1px 1px 1px rgb(210, 210, 210);
    /* h2{
        font-size: 40px;
        letter-spacing: 1px;
         background: linear-gradient(180deg, rgb(145, 141, 141), rgb(237, 195, 117), rgb(56, 106, 244), green, rgb(119, 119, 201));
         -webkit-background-clip: text;
         color: transparent;
        
        
    } */
    ul{
        display: flex;
        flex-direction: column;
        gap: 16px;
        li{
            list-style: none;
            label{
            display: block;
            padding-bottom: 20px;
            font-size: 20px;
            color: rgb(13, 18, 98);
        }
            input,textarea,select{
                width: 95%;
                height: 30px;
                border: none;
                outline: none;
            }
            textarea{
                height: 70px;
                resize: none;
            }
            button{
                padding: 10px 30px;
                background-color: blue;
            color: white;
            font-size: 18px;
            border: none;
            outline: none;
            cursor: pointer;
            box-shadow: 0px 0px 1px 0px rgb(153, 168, 244);
            }
        }
    }
}

@media (max-width:900px){
    form{
        width: 98%;
    }
}

h2{

    font-size: 48px;
    font-weight: bold;
    animation: colorChange 5s infinite;
  
}

/* Rəng dəyişməsi üçün @keyframes */


@keyframes colorChange {
    0% {
        color: rgb(54, 54, 54);
    }
    25% {
        color: rgb(3, 3, 142);
    }
    50% {
        color: rgb(116, 116, 5);
    }
    75% {
        color: rgb(4, 92, 4);
    }
    100% {
        color: rgb(124, 3, 120);
    }
}
.active{
    background-color: rgb(43, 165, 252);
}







